<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Employee</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container my-5">
    <center><h2>Add New  Employee</h2></center>
      <form method="post">
        {% csrf_token %}
        <table class="table">
          {% bootstrap_form form %}
        </table>
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a href="{% url 'EmployeeListPage' %}" class="btn btn-light">Back To Employee List</a>
      </form>
     
    </div>
    </div>
  </body>
</html>
